@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="chapter"]{
	break-before: page;
}

[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

[epub|type~="z3998:recipient"]{
	font-style: italic;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	font-weight: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

#chapter-23 blockquote{
	font-variant: small-caps;
	text-align: center;
}

#chapter-23 blockquote p,
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
